.column1{
    position:relative;
    float: left;
}
.column2{
    color:var(--text1);
    margin-left: 10px;
    width: 300px;
    height: fit-content;
    
}
li {
    color: var(--text1);
}
.wrapper2{
    max-width: 100px;
}
.movie-db-list{
    background-color: var(--bg);
}