.column1{
    position:relative;
    float: left;
}
.column2{
    color:var(--text2);
    margin-left: 10px;
    width: 300px;
    height: fit-content;
    
}
li {
    color: var(--bg);
}
.wrapper2{
    max-width: 100px;
}
