
  /* body{
    --bg: #b3f0ec;
  } */
.DropTheme{
  margin: 1rem;
  float: left;
}
.themeChanger{
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 0rem;
}
.default{
  --title: #000000;
  --text1: #0059ff;
  --text2: #0055ff;
  --bg: #FFFFFF;
  --bs-tertiary-bg-rgb: var(--bg);
}
/* .default{
  --title: #DC5F00;
  --text1: #686D76;
  --text2: #373A40;
  --bg: #EEEEEE;
  --bs-tertiary-bg-rgb: var(--bg);
} */
.theme3{
  --title: #41B06E;
  --text1: #8DECB4;
  --text2: #FFF5E0;
  --bg: #141E46;
  --bs-tertiary-bg-rgb: var(--bg);
}
.theme1 {
  --title: #FFBF00;
  --text1: #FF9A00;
  --text2: #D10363;
  --bg: #808836;
  --bs-tertiary-bg-rgb: var(--bg);
}
.theme2 {
    --title: #26355D;
    --text1: #AF47D2;
    --text2: #FF8F00;
    --bg: #FFDB00;
    --bs-tertiary-bg-rgb: var(--bg);
}
.theme3 {
    --title: #003285;
    --text1: #2A629A;
    --text2: #FF7F3E;
    --bg: #FFDA78;
    --bs-tertiary-bg-rgb: var(--bg);
}
.theme4 {
    --title: #850F8D;
    --text1: #C738BD;
    --text2: #E49BFF;
    --bg: #F8F9D7;
    --bs-tertiary-bg-rgb: var(--bg);
}
.theme7{
  --title: #B06161;
  --text1: #DC8686;
  --text2: #3e6333;
  --bg: #F0DBAF;
  --bs-tertiary-bg-rgb: var(--bg);
}
.theme6{
  --title: #9B3922;
  --text1: #885346;
  --text2: #F2613F;
  --bg: #0C0C0C;
  --bs-tertiary-bg-rgb: var(--bg);
}
.theme5{
  --title: #AAAB75;
  --text1: #003285;
  --text2: #6B0B18;
  --bg: #FBDDB1;
  --bs-tertiary-bg-rgb: var(--bg);
}