.Moviepicture{
    position: relative;
    float: left;
}

.p1{
    color: var(--text1);
    margin-bottom: 0px;
}
.p2{
    color: var(--text2);
    margin-bottom: 15px;
}

.box {
background-color: var(--text2);
color: #fff;
border-radius: 5px;
padding: 20px;
font-size: 150%;
}


