.mov1{
    position: relative;
    float: left;
}

.p1{
    color: var(--text1);
    margin-bottom: 0px;
}
.p2{
    color: var(--text2);
    margin-bottom: 15px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: var(--bg);
    color: var(--text2);
    max-width:  80px;
}

.box {
background-color: var(--text2);
color: #fff;
border-radius: 5px;
padding: 20px;
font-size: 150%;
}


