.mov1{
    position: relative;
    float: left;
}

.p1{
    color: #344C64;
    margin-bottom: 0px;
}
.p2{
    color: #577B8D;
    margin-bottom: 0px;
}
.Moviepicture{
    margin-top: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: #fff;
    color: #444;
    max-width:  80px;
}

.box {
background-color: #444;
color: #fff;
border-radius: 5px;
padding: 20px;
font-size: 150%;
}

.container2 {
    border: none;
}
.container2:hover {
    background-color: #344C64;
}
