/* .column1{

    padding-right: 1rem;
} */
.column2{
    color:var(--text2);
    margin-left: 1rem;
    height: fit-content;
    border-width: 0.125rem;
    border-color: var(--text2);
    
}
li {
    color: var(--text2);
}
.wrapper2 {
    display: flex;
    flex-direction: row;
    background-color: var(--bg);
    color: var(--text1);
}
.title {
    color: var(--text1);
    margin-bottom: 0.25rem;
}
.review{
    color:var(--text2);
    margin-left:1rem;
    height: fit-content;
    border-width: 0.125rem;
    border-color: var(--text2);
}
.reviewText{
    margin-top: 0.25rem;
    
}


.wrapper1 {
    display: flex;
    background-color: var(--bg);
    color: var(--text1);
    flex-flow: row nowrap;
    max-width: 30rem;

}
